<form ngNativevalidate #k= "ngForm" class="form-horizontal form-material" (ngSubmit)="buscar(k)">
  <div class="form-row">
    <div class="col-md-4 mb-3">
    
      <label for="validationCustom01">Buscar Producto</label>
      <input name="filterProducto" type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterProducto">
    </div>
  </div>
  <div class="fg-actions d-flex justify-content-between">
      <div class="buscar-btn">
      <div class="recover-pass"> 
        <button class="btn btn-outline-danger" type="submit"> Buscar </button>
        </div>
      </div>
    </div> 

    <table class="table">
      <thead >
        <tr>
          <th scope="col" name="id" >id</th>
          <th scope="col" name="tipoUsuario" >tipo Usuario</th>
          <th scope="col" name="correo" >correo</th>
          <th scope="col" name="password" >Contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | filter:filterUsuarios">
          
          <td>
            {{ producto._id }}
          </td>
          <td>
            {{ producto.tipoUsuario}}
          </td>
          <td>
            {{ producto.correo}}
          </td>
          <td>
            {{ producto.password}}
          </td>
        </tr>
      </tbody>

    </table>

</form> 